

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
   <h1>Добро пожаловать на стартовую страницу системы учета физического состояния учеников средней школы!</h1> 
</body>
</html>