@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Person>
           
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Заполнение анкеты</title>
</head>
<body>
    <div>
        <form method="post" action="">
            @foreach(Person p in Model)
            {
                <tr>                
                    <td><p>@p.Sex</p></td>
                    <td><p>@p.FirstName</p></td>
                    <td><p>@p.SecondName</p></td>
            </tr> 
            }
          
        </form>
        <form method="post" action="Press">
            <button id="Btn_Prev" name="action" value="Prev">Назад</button>
            <button id="Btn_Next" name="action" value="Next">Далее</button>
        </form>



    </div>
</body>
</html>